<form ng-submit="submitNewTweet()">
    <input type="text" id="tweetText" required maxlength="140" ng-maxlength="140" ng-model="newTweet.text" />
    <button type="submit" class="btn">Tweet</button>
    <div ng-show="tweetUploadSuccess && showUploadStatus">
        Tweet successfully uploaded
    </div>
    <div ng-show="!tweetUploadSuccess && showUploadStatus">
        Tweet not successfully uploaded
    </div>
</form>

<div class="table">
    <div class="well tweet" ng-repeat="tweet in tweets">
        <h4 class="title">{{tweet.user.name}}</h4>
        <p>{{tweet.text}}</p>
    </div>
</div>

