<div id="searchSubmission">
    <form ng-submit="performSearch()">
        <input type="text" id="searchQuery" ng-model="newSearchQuery" />
        <button type="submit" class="btn">Search</button>
        <div ng-show="!searchSuccess && showUploadStatus">
            Search not performed successfully
        </div>
    </form>
</div>

<div id="previousSearches">
    <div id="previousSearch" ng-repeat="search in previousSearches">
        <a href="" ng-click="performPreviousSearch($index)">{{search}}</a>
    </div>
</div>

<div id="searchResults">
    <div id="results" ng-show="hasResults">
        Displaying {{numberOfResults}} results
        <div id="result" class="row" ng-repeat="result in results.RelatedTopics">
            <div class="col-md-1">
                <img class="resultIcon" ng-src="{{result.Icon.URL}}">
            </div>
            <p class="col-md-11" ng-bind-html="result.Result"></p>
        </div>
    </div>
</div>